<div id="index_header_p">
  <div class="index-icon-p">
    <i class="fa fa-times" aria-hidden="true" style="font-size:22px;color:#1a499e;display:none;"></i>
    <i class="fa fa-bars" aria-hidden="true" style="font-size:22px;color:#1a499e;"></i>
  </div>
  <div class="nav-platform-div-p">
    <div class="nav-platform">
      <div class="nav-platform-choose" data-url="http://159.226.149.18/">青藏科考国家动物种质资源共享平台
      </div>
      <div>
        <i class="fa fa-angle-down" aria-hidden="true" style=""></i>
      </div>
    </div>
    <div class="nav-platform-jump hand">
      <i class="fa fa-long-arrow-right fa-1x" aria-hidden="true" style="color:#fff;"></i></span>
    </div>
  </div>

  <div class="nav-platform-option" style="display:none;">
    <div class="nav-platform-name hand" data-url="http://159.226.149.18/">青藏高原国家动物种质资源共享平台</div>
    <div class="nav-platform-name hand" data-url="http://www.baidu.com/">青藏高原国家植物种质资源共享平台</div>
    <div class="nav-platform-name hand" data-url="http://www.baidu.com/">青藏高原国家微生物种质资源共享平台</div>
  </div>
</div>

<div id="nav_div_p" style="display: none;">
  <div><%= link_to "首页",index_p_path,class: "aaaa"%></div>
  <div><%= link_to "团队",root_path(anchor: "member_p")%></div>
  <div><%= link_to "新闻动态", root_path(anchor: "news_p")%></div>
  <div><%= link_to "科学传播", root_path(anchor: "science_p")%></div>
  <div><%= link_to "成果",root_path(anchor: "result_p")%></div>
  <div><%= link_to "专栏",root_path(anchor: "projects_p")%></div>
</div>